<?xml version="1.0"?>
<config>
    <modules>
        <DG_Events>
            <version>0.1.0</version>
        </DG_Events>
    </modules>
    <global>
        <models>
            <events>
                <class>DG_Events_Model</class>
                <resourceModel>events_resource</resourceModel>
            </events>
            <events_mysql4>
                <class>DG_Events_Model_Mysql4</class>
                <entities>
                    <event>
                        <table>dg_events</table>
                    </event>
                </entities>
            </events_mysql4>
            <!-- for Magento 1.7+ -->
            <events_resource>
                <class>DG_Events_Model_Resource</class>
                <entities>
                    <event>
                        <table>dg_events</table>
                    </event>
                </entities>
            </events_resource>
        </models>
        <resources>
            <events_setup>
                <setup>
                    <module>DG_Events</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </events_setup>
        </resources>
        <helpers>
            <events>
                <class>DG_Events_Helper</class>
            </events>
        </helpers>
        <blocks>
            <events>
                <class>DG_Events_Block</class>
            </events>
        </blocks>
    </global>
    <frontend>
        <routers>
            <events>
                <use>standard</use>
                <args>
                    <module>DG_Events</module>
                    <frontName>events</frontName>
                </args>
            </events>
        </routers>
        <layout>
            <updates>
                <events module="DG_Events">
                    <file>dg/events/dg_events.xml</file>
                </events>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <DG_Events before="Mage_Adminhtml">DG_Events_Adminhtml</DG_Events>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <events>
                    <file>dg/events/dg_events.xml</file>
                </events>
            </updates>
        </layout>
    </adminhtml>
</config>
