<?xml version="1.0"?>
<!--
/**
 * @author Daniel Golding
 */
-->
<config>
    <sections>
        <events translate="label" module="events">
            <class>separator-top</class>
            <label>Events</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            
            <groups>
                <view translate="label">
                    <label>Event View Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[<div style="padding:10px;border:1px dashed black;background:white;margin-bottom:10px;">
                            These settings do not behave. Hopefully they will in the next version, I leave them here in some sort of hope.<br/>
                            Remember to contact me (Daniel Golding) at <a href="mailto:goldingd89@gmail.com">goldingd89@gmail.com</a> if you have any issues.
                        </div>]]>
                    </comment>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <items_per_page translate="label">
                            <label>Events per Page</label>
                            <comment>Empty gives default of 20.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </items_per_page>
                    </fields>
                </view>
            </groups>
        </events>
    </sections>
</config>

