/**
 * Styles for the DG_Events Magento Extension
 *
 * @author Daniel Golding
 */

/* ==== Styles for the page in general ==== */
.event-month-header {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.event-month-header div, .event-month-header h2 {
    padding: 15px 50px;
    width: 33%;
    display: table-cell;
}
.event-month-header h2 {
    font-family: 'Century Gothic', Verdana, Helvetica, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    font-style: italic;
}

/* ==== Styles for the store links at the top. ==== */
#event-store-links {
    display: table;
    margin: auto;
}
#event-store-links > li {
    float: left;
    text-align: center;
    padding: 20px;
}
#event-store-links em {
    font-style: normal;
    font-weight: bold;
}
#event-store-links a {
    text-decoration: none;
}

/* ==== Styles for each event item ==== */
.event-item {
    /*clear: both;*/
    border-bottom: 1px dotted silver;
    height: 210px;
    overflow: hidden;
}
#event-listing.event-two-col > .event-item {
    float: left;
    width: 471px;
}
#event-listing.event-one-col > .event-item {
    clear: both;
}
/*
.event-item:first-of-type {
    border-top: 1px dotted silver;
}*/
.event-item h3 {
    font-family: 'Century Gothic', Verdana, Helvetica, Tahoma, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 3px;
}
.event-image {
    float: left;
    padding: 5px;
}
.event-image img {
    width: 200px;
}
.event-text {
    padding: 5px;
    padding-left: 220px; /* This needs to give you enough width for your images*/
}
.event-noimage { /* we add this to the event-text if the event has no img */
    padding-left: 5px;
}
.event-text  h4 {
    font-size: 10px;
    margin: 5px 0;
}
.event-cf {
    clear: both;
}

